@charset "UTF-8";
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}

footer,
header,
section {
	display: block;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
strong {
	font-weight: inherit;
	font-weight: bold;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
.u-over-slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

a {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.u-logo {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none;
	border: 0 none transparent;
	outline-width: 0;
	background-color: transparent;
	margin: 0;
	-webkit-text-decoration-skip: objects;
}
.u-image.u-logo {
	display: table;
	white-space: nowrap;
}
.u-image.u-logo img {
	display: block;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
body {
	height: auto;
	min-height: 100%;
}
body,
section,
header,
footer {
	position: relative;
}
section > *,
header > *,
footer > *,
.u-sheet > *,
.u-section-row > * {
	position: relative;
}
a {
	color: #259bca;
	text-decoration: none;
}
.u-clearfix:after,
.u-clearfix:before {
	content: '';
	display: table;
}
.u-clearfix:after {
	clear: both;
}

.u-spacing-10 .u-social-url + .u-social-url {
	margin-left: 10px;
}
.u-text-default {
	display: table;
	align-self: flex-start;
	width: -webkit-fit-content;
	width: fit-content;
	width: -moz-fit-content;
}
.u-image {
	object-fit: cover;
	display: block;
	vertical-align: middle;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.u-image.u-image-contain {
	object-fit: contain;
	background-size: contain;
}
section.u-image:not(.u-hover-box) {
	overflow: visible;
}
.u-sheet {
	position: relative;
	margin: 0 auto;
}
.u-xl-mode .u-sheet {
	width: var(--theme-sheet-width-xl);
}
@media (min-width: 1400px) {
	.u-sheet {
		width: var(--theme-sheet-width-xxl) !important;
	}
}
@media (min-width: 1200px) {
	.u-xl-mode .u-sheet {
		width: var(--theme-sheet-width-xl) !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.u-sheet {
		width: var(--theme-sheet-width-lg) !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.u-sheet {
		width: var(--theme-sheet-width-md) !important;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.u-sheet {
		width: var(--theme-sheet-width-sm) !important;
	}
}
@media (max-width: 575px) {
	.u-sheet {
		width: var(--theme-sheet-width-xs) !important;
	}
}
.u-container-layout {
	position: relative;
	flex: 1;
	max-width: 100%;
	transition-duration: inherit;
}
.u-container-layout > * {
	position: relative;
}
.u-expanded {
	position: absolute !important;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.u-expanded-width {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.u-valign-middle {
	display: flex;
	flex-direction: column;
}
@media (min-width: 1200px) {
	.u-xl-mode .u-valign-middle-xl,
	.u-xl-mode .u-valign-top-xl {
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.u-valign-middle-lg,
	.u-valign-top-lg {
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.u-valign-middle-md {
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.u-valign-middle-sm {
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 575px) {
	.u-valign-middle-xs {
		display: flex;
		flex-direction: column;
	}
}
.u-valign-middle > * {
	flex-shrink: 0;
}
.u-valign-middle {
	justify-content: center;
}
@media (min-width: 1200px) {
	.u-xl-mode .u-valign-middle-xl {
		justify-content: center;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.u-valign-middle-lg {
		justify-content: center;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.u-valign-middle-md {
		justify-content: center;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.u-valign-middle-sm {
		justify-content: center;
	}
}
@media (max-width: 575px) {
	.u-valign-middle-xs {
		justify-content: center;
	}
}
@media (min-width: 1200px) {
	.u-xl-mode .u-valign-top-xl {
		justify-content: flex-start;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.u-valign-top-lg {
		justify-content: flex-start;
	}
}
.u-sheet:not(.u-image):not(.u-video) {
	pointer-events: none;
}
.u-sheet:not(.u-image):not(.u-video) > * {
	pointer-events: auto;
	pointer-events: initial;
}
.u-header {
	position: sticky;
	top: 0;
	z-index: 9999;
	background-color: #fff;
}
.u-shape {
	position: relative;
}
.u-icon {
	display: block;
	line-height: 0;
	border-width: 0px;
}
.u-svg-link {
	width: 100%;
	height: 100%;
	fill: currentColor;
}
.u-svg-content {
	width: 0;
	height: 0;
}
.u-file-icon img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
html {
	font-size: 16px;
}
.u-body {
	font-size: 1rem;
	line-height: 1.6;
}
.u-body h1,
.u-body h3 {
	padding: 0;
}
h1,
h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	line-height: 1.2;
	font-weight: 500;
	color: inherit;
}
h1 {
	font-size: 2.25rem;
}
h3 {
	font-size: 1.25rem;
}
p {
	margin-top: 0;
	padding: 0;
	margin-bottom: 0.5rem;
}
.u-align-left {
	text-align: left;
}
.u-align-center {
	text-align: center;
}
@media (max-width: 575px) {
	.u-align-center-xs {
		text-align: center;
	}
}

.u-repeater-item:not([class*="u-align-"]),
.u-container-style:not([class*="u-align-"]) {
	text-align: left;
}
.u-text {
	word-wrap: break-word;
	position: relative;
}
.u-social-icons {
	display: flex;
}
.u-social-url {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none;
	border: 0 none transparent;
	outline-width: 0;
	background-color: transparent;
	margin: 0;
	-webkit-text-decoration-skip: objects;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.u-social-icons .u-icon {
	display: flex;
	height: 100% !important;
}
.u-social-icons .u-social-url,
.u-social-icons .u-social-url:hover {
	color: currentColor;
}
.u-social-icons a {
	height: 100%;
	display: inline-block;
	flex: 1;
}
.u-lightbox .u-gallery-item {
	cursor: pointer;
}
.u-body {
	--animation-fade_in-opacity: 0;
	--animation-fade_in_up-opacity: 0;
	--animation-fade_in_left-opacity: 0;
	--animation-fade_in_right-opacity: 0;
	--animation-fade_in_down-opacity: 0;
	--animation-fade_in_up_big-opacity: 0;
	--animation-fade_in_left_big-opacity: 0;
	--animation-fade_in_right_big-opacity: 0;
	--animation-fade_in_down_big-opacity: 0;
	--animation-fade_out-opacity: 0;
	--animation-fade_out_up-opacity: 0;
	--animation-fade_out_left-opacity: 0;
	--animation-fade_out_right-opacity: 0;
	--animation-fade_out_down-opacity: 0;
	--animation-fade_out_up_big-opacity: 0;
	--animation-fade_out_left_big-opacity: 0;
	--animation-fade_out_right_big-opacity: 0;
	--animation-fade_out_down_big-opacity: 0;
	--animation-rotate_in-rotate: -200deg;
	--animation-rotate_in_down_left-rotate: -45deg;
	--animation-rotate_in_down_right-rotate: 45deg;
	--animation-rotate_in_up_left-rotate: 45deg;
	--animation-rotate_in_up_right-rotate: -90deg;
	--animation-rotate_out-rotate: 200deg;
	--animation-rotate_out_down_left-rotate: 45deg;
	--animation-rotate_out_down_right-rotate: -45deg;
	--animation-rotate_out_up_left-rotate: -45deg;
	--animation-rotate_out_up_right-rotate: 90deg;
	--animation-roll_in-rotate: -120deg;
	--animation-roll_in-translate_x: -100%;
	--animation-roll_out-rotate: 120deg;
	--animation-roll_out-translate_x: 100%;
	--animation-zoom_in-scale: 0.3;
	--animation-zoom_in_down-scale: 0.475;
	--animation-zoom_in_down-translate_y: 60px;
	--animation-zoom_in_up-scale: 0.475;
	--animation-zoom_in_up-translate_y: -60px;
	--animation-zoom_in_left-scale: 0.475;
	--animation-zoom_in_left-translate_x: 10px;
	--animation-zoom_in_right-scale: 0.475;
	--animation-zoom_in_right-translate_x: -10px;
	--animation-zoom_out-scale: 0.3;
	--animation-zoom_out_down-scale: 0.475;
	--animation-zoom_out_down-translate_y: -60px;
	--animation-zoom_out_up-scale: 0.475;
	--animation-zoom_out_up-translate_y: 60px;
	--animation-zoom_out_left-scale: 0.475;
	--animation-zoom_out_left-translate_x: 42px;
	--animation-zoom_out_right-scale: 0.475;
	--animation-zoom_out_right-translate_x: -42px;
	--animation-slide_in_down-translate_y: -100%;
	--animation-slide_in_up-translate_y: 100%;
	--animation-slide_in_left-translate_x: -100%;
	--animation-slide_in_right-translate_x: 100%;
	--animation-slide_out_down-translate_y: 100%;
	--animation-slide_out_up-translate_y: -100%;
	--animation-slide_out_left-translate_x: -100%;
	--animation-slide_out_right-translate_x: 100%;
	--animation-custom_in-translate_x: 0px;
	--animation-custom_in-translate_y: 0px;
	--animation-custom_in-scale: 1;
	--animation-custom_in-rotate: 0deg;
	--animation-custom_in-opacity: 0;
	
	
	
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* Fix zoomIn animation for Internet Explorer */

.u-gallery-item {
	position: relative;
	overflow: hidden;
}
.u-gallery-item .u-back-slide {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.u-back-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.u-show-text-none .u-over-slide {
	display: none;
}
.u-over-slide .u-gallery-heading,
.u-over-slide .u-gallery-text {
	margin-top: 0;
	margin-bottom: 0;
}
.u-no-transition *,
.u-no-transition *:before,
.u-no-transition *:after {
	transition: none !important;
}
.u-repeater {
	display: grid;
	grid-template-columns: repeat(3, 33.33333333%);
}
.u-repeater-item {
	display: flex;
	position: relative;
}
.u-list:not(.u-repeater) {
	display: flex;
	flex-direction: column;
}
.u-list:not(.u-repeater) .u-repeater {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}
.u-layout-grid .u-gallery-inner {
	display: grid;
	grid-template-columns: repeat(3, auto);
	min-height: 100%;
}
.u-section-row {
	position: relative;
}

.u-body {
	font-family: 'Open Sans',sans-serif;
}
h1,
h3 {
	font-family: Roboto,sans-serif;
}

.u-image {
	color: #111111;
}
.u-shading {
	color: #ffffff;
}
.u-body {
	color: #111111;
	background-color: #ffffff;
	--effect-scale: 1.1;
}
.u-grey-80 {
	color: #ffffff;
	background-color: #333333;
}
.u-text-black {
	color: #000000 !important;
}
.u-text-grey-50 {
	color: #808080 !important;
}

.u-body
{
	/*#TODO 2560px ???*/
	--theme-sheet-width-xl: 1490px;
	--theme-sheet-width-lg: 940px;
	--theme-sheet-width-md: 720px;
	--theme-sheet-width-sm: 540px;
	--theme-sheet-width-xs: 340px;
}

h1.u-title
{
	font-weight: 400;
	font-size: 3.2rem;
	line-height: 1.1;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3
{
	font-weight: 400;
	font-size: 1.875rem;
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 20px;
}

p:not(.u-text-variant)
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.u-body
{
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@media (max-width: 767px) {
	h1.u-title
	{
		font-size: 3.75rem;
	}
}

@media (max-width: 575px) {
	h1.u-title
	{
		font-size: 3rem;
	}
}

@media (max-width: 575px) {
	h3
	{
		font-size: 1.5rem;
	}
}

a
{
	color: #478ac9;
}

a:hover
{
	color: #387cbd;
}

.u-grey-80 a
{
	color: #adcce9;
}

.u-grey-80 a:hover
{
	color: #a1a1a1;
}
		
.u-header .u-section-row-1 {
	background-image: none;
}

.u-header .u-sheet-1 {
	min-height: 57px;
}

.u-header .u-group-elements-1 {
	width: 700px;
	min-height: 50px;
	margin: 4px auto 0 0;
}

@media (max-width: 767px) {
	.u-header .u-group-elements-1 {
		width: 100%;
		min-height: 40px;
		margin: 2px auto 0 0;
	}
}

/*Taille de l'en-tête*/
.u-header .u-text-1 {
	margin: 0;
	font-size: 15px;
}

.u-header .u-text-2 {
	font-weight: 700;
	font-size: 15px;
	margin: 0;
}

@media (min-width: 376px) and (max-width: 425px) {
	.u-header .u-text-1,
	.u-header .u-text-2 {
		font-size: 13px;
		text-align: center;
		margin-top: 15px; 
	}
}

@media (max-width: 375px) {
	.u-header .u-text-1,
	.u-header .u-text-2 {
		font-size: 13px;
		text-align: left;
		margin-top: 15px; 
	}
}

/*Icônes en-tête*/
.u-header .u-social-icons-1 {
	white-space: nowrap;
	height: 32px;
	min-height: 16px;
	width: 116px;
	min-width: 68px;
	margin: -45px 0 17px auto;
}
@media (max-width: 768px) {
	.u-header .u-social-icons-1 {
	margin: -5px auto 17px auto;
	}
}

@media (max-width: 425px) {
	.u-header .u-social-icons-1 {
	margin: -5px auto 17px auto;
	}
}

@media (max-width: 375px) {
	.u-header .u-social-icons-1 {
	margin: -5px auto 17px auto;
	}
}

@media (max-width: 320px) {
	.u-header .u-social-icons-1 {
	margin: -5px auto 17px auto;
	}
}

.u-header .u-icon-1 {
	height: 100%;
	color: rgb(0, 122, 185) !important;
}

.u-header .u-icon-2 {
	height: 100%;
	color: rgb(219, 83, 75) !important;
}

.u-header .u-icon-3 {
	height: 100%;
	color: rgb(53, 194, 53) !important;
}
.u-header .u-sheet-2 {
	min-height: 263px;
}

.u-header .u-image-1 {
	width: 751px;
	height: 163px;
	margin: 12px auto 0 181px;
}

/*Taille du logo DAN-Transports SA*/
.u-header .u-logo-image-1 {
	width: 100%;
	height: 100%;
	margin: 0 auto 10px 180px;
}
@media (max-width: 1199px) {
	.u-header .u-sheet-1 {
		min-height: 31px;
	}
}
@media (max-width: 1199px) {
	.u-header .u-sheet-2 {
		min-height: 276px;
	}

	.u-header .u-image-1 {
		width: 750px;
		margin-top: 19px;
		margin-left: auto;
	}
}
@media (max-width: 991px) {
	.u-header .u-social-icons-1 {
		margin-top: 20px;
	}
}
@media (max-width: 991px) {
	.u-header .u-sheet-2 {
		min-height: 223px;
	}

	.u-header .u-image-1 {
		width: 680px;
		height: 148px;
		margin-top: 8px;
	}
}
@media (max-width: 767px) {
	.u-header .u-sheet-1 {
		min-height: 5px;
	}

	.u-header .u-group-elements-1 {
		width: 540px;
	}
}
@media (max-width: 767px) {
	.u-header .u-sheet-2 {
		min-height: 195px;
	}

	.u-header .u-image-1 {
		width: 459px;
		height: 100px;
		margin-top: 15px;
	}
}
@media (max-width: 575px) {
	.u-header .u-sheet-1 {
		min-height: 173px;
	}

	.u-header .u-group-elements-1 {
		width: 340px;
	}

	.u-header .u-social-icons-1 {
		margin-top: 22px;
		margin-right: auto;
		margin-bottom: 15px;
	}
}
@media (max-width: 575px) {
	.u-header .u-sheet-2 {
		min-height: 160px;
	}

	.u-header .u-image-1 {
		width: 320px;
		height: 69px;
		margin-top: 30px;
	}
}
.u-footer {
	position: relative;
	bottom: 0;
	width: 100%;
}

.u-footer .u-sheet-1 {
	min-height: 223px;
}

/*Taille pied de page*/
.u-footer .u-text-1 {
}

.u-footer .u-text-2 {
}

.u-footer .u-text-3 {
	top: -239px;
	margin: 0 0 0 1252px;
}

.u-footer .u-text-4 {
	font-style: italic;
	font-size: 0.9rem;
	margin-top: -230px;
}
@media (max-width: 1199px) {
	.u-footer .u-text-1 {
		margin-right: 213px;
	}

	.u-footer .u-text-2 {
		margin-top: -1px;
	}

	.u-footer .u-text-3 {
		margin-right: 330px;
	}
}
@media (max-width: 991px) {
	.u-footer .u-text-1 {
		margin-right: 0;
	}

	.u-footer .u-text-3 {
		margin-right: 110px;
	}
}
@media (max-width: 767px) {
	.u-footer .u-text-3 {
		margin-right: 0;
	}
}


/**** NAVBAR ****/
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size: calc(0.5rem + 0.7vw);
}

nav ul {
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
	justify-content: space-between;
	width: 60%;
}
#icons {
	cursor: pointer;
	display: none;
}

@media (max-width: 650px) {
	#icons {
		display: block;
	}
	#icons:before {
		content: "\2630";
	}
	.active #icons:before {
		content: "\2715";
	}
	nav ul {
	position: fixed;
	left: -100%;
	top: 5%;
	flex-direction: column;
	width: 100%;
	text-align: center;
	transition: 0.25s;
	}
	nav li {
	padding: 3px 0;
	}
	nav li:hover {
	background: rgb(17, 217, 240);
	}
	nav.active ul {
		left: 0;
	}
}

html { 
	font-size: 16px; 
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}
#content {
	grid-row-start: 1;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f8f9fa;
	padding: 20px;
	text-align: center;
}
